<body>


		<div class='container'>
			<div class='content-container'>
				<div
					class='featured-content'
					style="background: linear-gradient(to bottom, rgba(0,0,0,0), #151515), url('/images/Logo/Marvel_Cinematic_Universe_Logo.png');   background-repeat: no-repeat;   background-size: cover;   background-position: center;"
				>
				</div>
				<div class='movie-list-container'>
					<h1 class='movie-list-title'>Marvel Cinematic Universe Phase One</h1>
					<div class='movie-list-wrapper'>
						<div class='movie-list'>

                             {{#each films as |film|}}
                             <div class='movie-list-item' id='{{film.id}}'>
								<img
									class='movie-list-item-img'
									src="/images/{{film.poster_horizontal}}"
									alt='{{film.title}}'
									style='background: linear-gradient(rgb(48, 50, 62), rgb(30, 31, 42));'
								/>
								<button class='movie-list-item-button'>Watch</button>
							</div>
      
                            {{/each}}
							
						</div>
						<i class='fas fa-chevron-right arrow'></i>
					</div>
				</div>


					<div class='movie-list-container'>
					<h1 class='movie-list-title'>Phase 2</h1>
					<div class='movie-list-wrapper'>
						<div class='movie-list'>

                             {{#each films as |film|}}
                             <div class='movie-list-item' id='{{film.id}}'>
								<img
									class='movie-list-item-img'
									src="/images/{{film.poster_horizontal}}"
									alt='{{film.title}}'
									style='background: linear-gradient(rgb(48, 50, 62), rgb(30, 31, 42));'
								/>
								<a href="/movie-page" target="_blank">
    							<button class='movie-list-item-button'>WATCH</button>
								</a>
							</div>
      
                            {{/each}}
							
						</div>
						<i class='fas fa-chevron-right arrow'></i>
					</div>
				</div>

				<div
					class='featured-content'
					style="background: linear-gradient(to bottom, rgba(0,0,0,0), #151515), url('/images/Background/Avengers_Infinity_War.jfif'); background-repeat: no-repeat;   background-size: cover;   background-position: center;"
				>
					<img class='featured-title' src='/images/Logo/Avengers_Infinity_War.png' alt='' />
					<p class='featured-desc'>'An unprecedented cinematic journey ten years in the making and spanning the entire Marvel Cinematic Universe, Marvel Studios\' "Avengers: Infinity War" brings to the screen the ultimate, deadliest showdown of all time. As the Avengers and their allies have continued to protect the world from threats too large for any one hero to handle, a new danger has emerged from the cosmic shadows: Thanos.</p>
					<button class='featured-button'>WATCH</button>
				</div>
				<div class='movie-list-container'>
					<h1 class='movie-list-title'>Phase 3</h1>
					<div class='movie-list-wrapper'>
						<div class='movie-list'>

                             {{#each films as |film|}}
                             <div class='movie-list-item' id='{{film.id}}'>
								<img
									class='movie-list-item-img'
									src="/images/{{film.poster_horizontal}}"
									alt='{{film.title}}'
									style='background: linear-gradient(rgb(48, 50, 62), rgb(30, 31, 42));'
								/>
								<button class='movie-list-item-button'>Watch</button>
							</div>
      
                            {{/each}}
							
						</div>
						<i class='fas fa-chevron-right arrow'></i>
					</div>
				</div>

				<div class='movie-list-container'>
					<h1 class='movie-list-title'>Phase 2</h1>
					<div class='movie-list-wrapper'>
						<div class='movie-list'>

                             {{#each films as |film|}}
                             <div class='movie-list-item' id='{{film.id}}'>
								<img
									class='movie-list-item-img'
									src="/images/{{film.poster_horizontal}}"
									alt='{{film.title}}'
									style='background: linear-gradient(rgb(48, 50, 62), rgb(30, 31, 42));'
								/>
								<button class='movie-list-item-button'>Watch</button>
							</div>
      
                            {{/each}}
							
						</div>
						<i class='fas fa-chevron-right arrow'></i>
					</div>
				</div>
			</div>
		</div>	
		<!-- COUNTDOWN -->
		{{>countdown}}

		<!-- CHAT BAR BLOCK -->
		{{>chatbox}}
	</body>