<html lang='en'>

	<head>
		<meta charset='UTF-8' />
		<meta http-equiv='X-UA-Compatible' content='IE=edge' />
		<meta name='viewport' content='width=device-width, initial-scale=1.0' />
		<link rel='stylesheet' href='./assets/css/movie-page.css' />
		<link rel='stylesheet' href='./assets/css/chat.css' />
		<link
			href='https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Sen:wght@400;700;800&display=swap'
			rel='stylesheet'
		/>
		<link
			rel='stylesheet'
			href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css'
		/>
		<link
			rel='stylesheet'
			href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'
		/>
		<title>MCU Countdown</title>
	</head>

	<body>
		<div class='wrapper'>
			<header>
				<h1>
					<a href='/'>MCU Countdown</a>
				</h1>
				<nav>
					{{#if loggedIn}}
						<a href='/dashboard'>dashboard</a>
						<button id='logout' class='btn-no-style'>logout</button>
					{{else}}
						<a href='/login'>login</a>
					{{/if}}
				</nav>
			</header>
			<main>
				{{{body}}}
			</main>
			<footer>
				Thanks for visiting!
			</footer>
		</div>
		{{navbar}}
		{{{body}}}

		{{chatbox}}
		<script src='./assets/js/side.js'></script>
		<script src='./assets/js/chatbox.js'></script>
		<script
			src='https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js'
		></script>
	</body>

</html>

{{! FULL HOME PAGE }}

<html lang='en'>

	<head>
		<meta charset='UTF-8' />
		<meta http-equiv='X-UA-Compatible' content='IE=edge' />
		<meta name='viewport' content='width=device-width, initial-scale=1.0' />
		<link rel='stylesheet' href='./assets/css/movie-page.css' />
		<link rel='stylesheet' href='./assets/css/chat.css' />
		<link
			href='https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Sen:wght@400;700;800&display=swap'
			rel='stylesheet'
		/>
		<link
			rel='stylesheet'
			href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css'
		/>
		<link
			rel='stylesheet'
			href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'
		/>
		<title>Movie Design</title>
	</head>

	<body>
		<nav class='navbar'>
			<img
				src='./assets/images/Logo/Marvel_Cinematic_Universe_Logo-.png'
				class='brand-logo'
				alt=''
			/>
		</nav>

		<div class='sidebar' onmouseover='openNav()' onmouseout='closeNav()'>
			<div class='menu'>
				<h1 class='menu-title'>M</h1>
				<h1 class='menu-title'>E</h1>
				<h1 class='menu-title'>N</h1>
				<h1 class='menu-title'>U</h1>
			</div>
			<a href='#' class='side-text'><i
					class='left-menu-icon fas fa-search'
				></i>Search</a>
			<a href='#' class='side-text'><i
					class='left-menu-icon fas fa-home'
				></i>Home</a>
			<a href='#' class='side-text'><i
					class='left-menu-icon fas fa-users'
				></i>Account</a>
			<a href='#' class='side-text'><i
					class='left-menu-icon fas fa-bookmark'
				></i>Bookmark</a>
			<a href='#' class='side-text'><i class='left-menu-icon fas fa-tv'></i>TV
				Shows</a>
			<a href='#' class='side-text'><i
					class='left-menu-icon fas fa-film'
				></i>Films</a>
			<a href='#' class='side-text'><i
					class='left-menu-icon fas fa-hourglass-start'
				></i>Upcoming</a>
		</div>

		<div class='container'>
			<div class='content-container'>
				<div
					class='featured-content'
					style="background: linear-gradient(to bottom, rgba(0,0,0,0), #151515), url('./assets/images/Logo/Marvel_Cinematic_Universe_Logo.png');   background-repeat: no-repeat;   background-size: cover;   background-position: center;"
				>
				</div>
				<div class='movie-list-container'>
					<h1 class='movie-list-title'>Marvel Cinematic Universe Phase One</h1>
					<div class='movie-list-wrapper'>
						<div class='movie-list'>
							<div class='movie-list-item'>
								<img
									class='movie-list-item-img'
									src='./assets/images/PostersH/Ant-Man.jfif'
									alt=''
									style='background: linear-gradient(rgb(48, 50, 62), rgb(30, 31, 42));'
								/>
								<span class='movie-list-item-title'>Her</span>
								<p class='movie-list-item-desc'>Lorem ipsum dolor sit amet
									consectetur adipisicing elit. At hic fugit similique
									accusantium.</p>
								<button class='movie-list-item-button'>Watch</button>
							</div>
							<div class='movie-list-item'>
								<img
									class='movie-list-item-img'
									src='./assets/images/PostersH/Ant-Man_and_The_Wasp.jfif'
									alt=''
								/>
								<span class='movie-list-item-title'>Star Wars</span>
								<p class='movie-list-item-desc'>Lorem ipsum dolor sit amet
									consectetur adipisicing elit. At hic fugit similique
									accusantium.</p>
								<button class='movie-list-item-button'>Watch</button>
							</div>
							<div class='movie-list-item'>
								<img
									class='movie-list-item-img'
									src='./assets/images/PostersH/Avenger_2.jfif'
									alt=''
								/>
								<span class='movie-list-item-title'>Storm</span>
								<p class='movie-list-item-desc'>Lorem ipsum dolor sit amet
									consectetur adipisicing elit. At hic fugit similique
									accusantium.</p>
								<button class='movie-list-item-button'>Watch</button>
							</div>
							<div class='movie-list-item'>
								<img
									class='movie-list-item-img'
									src='./assets/images/PostersH/Avenger_Endgame.jfif'
									alt=''
								/>
								<span class='movie-list-item-title'>1917</span>
								<p class='movie-list-item-desc'>Lorem ipsum dolor sit amet
									consectetur adipisicing elit. At hic fugit similique
									accusantium.</p>
								<button class='movie-list-item-button'>Watch</button>
							</div>
							<div class='movie-list-item'>
								<img
									class='movie-list-item-img'
									src='./assets/images/PostersH/Avengers.jfif'
									alt=''
								/>
								<span class='movie-list-item-title'>Avengers</span>
								<p class='movie-list-item-desc'>Lorem ipsum dolor sit amet
									consectetur adipisicing elit. At hic fugit similique
									accusantium.</p>
								<button class='movie-list-item-button'>Watch</button>
							</div>
							<div class='movie-list-item'>
								<img
									class='movie-list-item-img'
									src='./assets/images/PostersH/Avengers_Infinity_War.jfif'
									alt=''
								/>
								<span class='movie-list-item-title'>Her</span>
								<p class='movie-list-item-desc'>Lorem ipsum dolor sit amet
									consectetur adipisicing elit. At hic fugit similique
									accusantium.</p>
								<button class='movie-list-item-button'>Watch</button>
							</div>
							<div class='movie-list-item'>
								<img
									class='movie-list-item-img'
									src='./assets/images/PostersH/Black_Panther.jfif'
									alt=''
								/>
								<span class='movie-list-item-title'>Her</span>
								<p class='movie-list-item-desc'>Lorem ipsum dolor sit amet
									consectetur adipisicing elit. At hic fugit similique
									accusantium.</p>
								<button class='movie-list-item-button'>Watch</button>
							</div>
							<div class='movie-list-item'>
								<img
									class='movie-list-item-img'
									src='./assets/images/PostersH/Black_Widow.jfif'
									alt=''
								/>
								<span class='movie-list-item-title'>Her</span>
								<p class='movie-list-item-desc'>Lorem ipsum dolor sit amet
									consectetur adipisicing elit. At hic fugit similique
									accusantium.</p>
								<button class='movie-list-item-button'>Watch</button>
							</div>
							<div class='movie-list-item'>
								<img
									class='movie-list-item-img'
									src='./assets/images/PostersH/Captain_America_Civil_War.jfif'
									alt=''
								/>
								<span class='movie-list-item-title'>Her</span>
								<p class='movie-list-item-desc'>Lorem ipsum dolor sit amet
									consectetur adipisicing elit. At hic fugit similique
									accusantium.</p>
								<button class='movie-list-item-button'>Watch</button>
							</div>
							<div class='movie-list-item'>
								<img
									class='movie-list-item-img'
									src='./assets/images/PostersH/Captain_America_The_Winter_Soldier.jfif'
									alt=''
								/>
								<span class='movie-list-item-title'>Her</span>
								<p class='movie-list-item-desc'>Lorem ipsum dolor sit amet
									consectetur adipisicing elit. At hic fugit similique
									accusantium.</p>
								<button class='movie-list-item-button'>Watch</button>
							</div>
							<div class='movie-list-item'>
								<img
									class='movie-list-item-img'
									src='./assets/images/PostersH/Captain_Marvel.jfif'
									alt=''
								/>
								<span class='movie-list-item-title'>Her</span>
								<p class='movie-list-item-desc'>Lorem ipsum dolor sit amet
									consectetur adipisicing elit. At hic fugit similique
									accusantium.</p>
								<button class='movie-list-item-button'>Watch</button>
							</div>
							<div class='movie-list-item'>
								<img
									class='movie-list-item-img'
									src='./assets/images/PostersH/Doctor_Strange.jfif'
									alt=''
								/>
								<span class='movie-list-item-title'>Her</span>
								<p class='movie-list-item-desc'>Lorem ipsum dolor sit amet
									consectetur adipisicing elit. At hic fugit similique
									accusantium.</p>
								<button class='movie-list-item-button'>Watch</button>
							</div>
							<div class='movie-list-item'>
								<img
									class='movie-list-item-img'
									src='./assets/images/PostersH/Eternals.jfif'
									alt=''
								/>
								<span class='movie-list-item-title'>Her</span>
								<p class='movie-list-item-desc'>Lorem ipsum dolor sit amet
									consectetur adipisicing elit. At hic fugit similique
									accusantium.</p>
								<button class='movie-list-item-button'>Watch</button>
							</div>
							<div class='movie-list-item'>
								<img
									class='movie-list-item-img'
									src='./assets/images/PostersH/GOTG.jfif'
									alt=''
								/>
								<span class='movie-list-item-title'>Her</span>
								<p class='movie-list-item-desc'>Lorem ipsum dolor sit amet
									consectetur adipisicing elit. At hic fugit similique
									accusantium.</p>
								<button class='movie-list-item-button'>Watch</button>
							</div>
							<div class='movie-list-item'>
								<img
									class='movie-list-item-img'
									src='./assets/images/PostersH/GOTG_2.jfif'
									alt=''
								/>
								<span class='movie-list-item-title'>Her</span>
								<p class='movie-list-item-desc'>Lorem ipsum dolor sit amet
									consectetur adipisicing elit. At hic fugit similique
									accusantium.</p>
								<button class='movie-list-item-button'>Watch</button>
							</div>
							<div class='movie-list-item'>
								<img
									class='movie-list-item-img'
									src='./assets/images/PostersH/Hawkeye.jfif'
									alt=''
								/>
								<span class='movie-list-item-title'>Her</span>
								<p class='movie-list-item-desc'>Lorem ipsum dolor sit amet
									consectetur adipisicing elit. At hic fugit similique
									accusantium.</p>
								<button class='movie-list-item-button'>Watch</button>
							</div>
							<div class='movie-list-item'>
								<img
									class='movie-list-item-img'
									src='./assets/images/PostersH/Iron_Man.jfif'
									alt=''
								/>
								<span class='movie-list-item-title'>Her</span>
								<p class='movie-list-item-desc'>Lorem ipsum dolor sit amet
									consectetur adipisicing elit. At hic fugit similique
									accusantium.</p>
								<button class='movie-list-item-button'>Watch</button>
							</div>
							<div class='movie-list-item'>
								<img
									class='movie-list-item-img'
									src='./assets/images/PostersH/Iron_Man_2.jfif'
									alt=''
								/>
								<span class='movie-list-item-title'>Her</span>
								<p class='movie-list-item-desc'>Lorem ipsum dolor sit amet
									consectetur adipisicing elit. At hic fugit similique
									accusantium.</p>
								<button class='movie-list-item-button'>Watch</button>
							</div>
							<div class='movie-list-item'>
								<img
									class='movie-list-item-img'
									src='./assets/images/PostersH/Iron_Man_3.jfif'
									alt=''
								/>
								<span class='movie-list-item-title'>Her</span>
								<p class='movie-list-item-desc'>Lorem ipsum dolor sit amet
									consectetur adipisicing elit. At hic fugit similique
									accusantium.</p>
								<button class='movie-list-item-button'>Watch</button>
							</div>

						</div>
						<i class='fas fa-chevron-right arrow'></i>
					</div>
				</div>
				<div class='movie-list-container'>
					<h1 class='movie-list-title'>NEW RELEASES</h1>
					<div class='movie-list-wrapper'>
						<div class='movie-list'>
							<div class='movie-list-item'>
								<img class='movie-list-item-img' src='img/8.jpg' alt='' />
								<span class='movie-list-item-title'>Her</span>
								<p class='movie-list-item-desc'>Lorem ipsum dolor sit amet
									consectetur adipisicing elit. At hic fugit similique
									accusantium.</p>
								<button class='movie-list-item-button'>Watch</button>
							</div>
							<div class='movie-list-item'>
								<img class='movie-list-item-img' src='img/9.jpg' alt='' />
								<span class='movie-list-item-title'>Her</span>
								<p class='movie-list-item-desc'>Lorem ipsum dolor sit amet
									consectetur adipisicing elit. At hic fugit similique
									accusantium.</p>
								<button class='movie-list-item-button'>Watch</button>
							</div>
							<div class='movie-list-item'>
								<img class='movie-list-item-img' src='img/10.jpg' alt='' />
								<span class='movie-list-item-title'>Her</span>
								<p class='movie-list-item-desc'>Lorem ipsum dolor sit amet
									consectetur adipisicing elit. At hic fugit similique
									accusantium.</p>
								<button class='movie-list-item-button'>Watch</button>
							</div>
							<div class='movie-list-item'>
								<img class='movie-list-item-img' src='img/11.jpg' alt='' />
								<span class='movie-list-item-title'>Her</span>
								<p class='movie-list-item-desc'>Lorem ipsum dolor sit amet
									consectetur adipisicing elit. At hic fugit similique
									accusantium.</p>
								<button class='movie-list-item-button'>Watch</button>
							</div>
							<div class='movie-list-item'>
								<img class='movie-list-item-img' src='img/12.jpg' alt='' />
								<span class='movie-list-item-title'>Her</span>
								<p class='movie-list-item-desc'>Lorem ipsum dolor sit amet
									consectetur adipisicing elit. At hic fugit similique
									accusantium.</p>
								<button class='movie-list-item-button'>Watch</button>
							</div>
							<div class='movie-list-item'>
								<img class='movie-list-item-img' src='img/1.jpg' alt='' />
								<span class='movie-list-item-title'>Her</span>
								<p class='movie-list-item-desc'>Lorem ipsum dolor sit amet
									consectetur adipisicing elit. At hic fugit similique
									accusantium.</p>
								<button class='movie-list-item-button'>Watch</button>
							</div>
							<div class='movie-list-item'>
								<img class='movie-list-item-img' src='img/1.jpg' alt='' />
								<span class='movie-list-item-title'>Her</span>
								<p class='movie-list-item-desc'>Lorem ipsum dolor sit amet
									consectetur adipisicing elit. At hic fugit similique
									accusantium.</p>
								<button class='movie-list-item-button'>Watch</button>
							</div>
							<div class='movie-list-item'>
								<img class='movie-list-item-img' src='img/11.jpg' alt='' />
								<span class='movie-list-item-title'>Her</span>
								<p class='movie-list-item-desc'>Lorem ipsum dolor sit amet
									consectetur adipisicing elit. At hic fugit similique
									accusantium.</p>
								<button class='movie-list-item-button'>Watch</button>
							</div>
							<div class='movie-list-item'>
								<img class='movie-list-item-img' src='img/11.jpg' alt='' />
								<span class='movie-list-item-title'>Her</span>
								<p class='movie-list-item-desc'>Lorem ipsum dolor sit amet
									consectetur adipisicing elit. At hic fugit similique
									accusantium.</p>
								<button class='movie-list-item-button'>Watch</button>
							</div>
							<div class='movie-list-item'>
								<img class='movie-list-item-img' src='img/11.jpg' alt='' />
								<span class='movie-list-item-title'>Her</span>
								<p class='movie-list-item-desc'>Lorem ipsum dolor sit amet
									consectetur adipisicing elit. At hic fugit similique
									accusantium.</p>
								<button class='movie-list-item-button'>Watch</button>
							</div>
							<div class='movie-list-item'>
								<img class='movie-list-item-img' src='img/11.jpg' alt='' />
								<span class='movie-list-item-title'>Her</span>
								<p class='movie-list-item-desc'>Lorem ipsum dolor sit amet
									consectetur adipisicing elit. At hic fugit similique
									accusantium.</p>
								<button class='movie-list-item-button'>Watch</button>
							</div>
							<div class='movie-list-item'>
								<img class='movie-list-item-img' src='img/11.jpg' alt='' />
								<span class='movie-list-item-title'>Her</span>
								<p class='movie-list-item-desc'>Lorem ipsum dolor sit amet
									consectetur adipisicing elit. At hic fugit similique
									accusantium.</p>
								<button class='movie-list-item-button'>Watch</button>
							</div>
							<div class='movie-list-item'>
								<img class='movie-list-item-img' src='img/11.jpg' alt='' />
								<span class='movie-list-item-title'>Her</span>
								<p class='movie-list-item-desc'>Lorem ipsum dolor sit amet
									consectetur adipisicing elit. At hic fugit similique
									accusantium.</p>
								<button class='movie-list-item-button'>Watch</button>
							</div>
							<div class='movie-list-item'>
								<img class='movie-list-item-img' src='img/11.jpg' alt='' />
								<span class='movie-list-item-title'>Her</span>
								<p class='movie-list-item-desc'>Lorem ipsum dolor sit amet
									consectetur adipisicing elit. At hic fugit similique
									accusantium.</p>
								<button class='movie-list-item-button'>Watch</button>
							</div>
							<div class='movie-list-item'>
								<img class='movie-list-item-img' src='img/11.jpg' alt='' />
								<span class='movie-list-item-title'>Her</span>
								<p class='movie-list-item-desc'>Lorem ipsum dolor sit amet
									consectetur adipisicing elit. At hic fugit similique
									accusantium.</p>
								<button class='movie-list-item-button'>Watch</button>
							</div>
						</div>
						<i class='fas fa-chevron-right arrow'></i>
					</div>
				</div>
				<div
					class='featured-content'
					style="background: linear-gradient(to bottom, rgba(0,0,0,0), #151515), url('img/f-2.jpg');"
				>
					<img class='featured-title' src='img/f-t-2.png' alt='' />
					<p class='featured-desc'>Lorem ipsum, dolor sit amet consectetur
						adipisicing elit. Iusto illo dolor deserunt nam assumenda ipsa
						eligendi dolore, ipsum id fugiat quo enim impedit, laboriosam omnis
						minima voluptatibus incidunt. Accusamus, provident.</p>
					<button class='featured-button'>WATCH</button>
				</div>
				<div class='movie-list-container'>
					<h1 class='movie-list-title'>NEW RELEASES</h1>
					<div class='movie-list-wrapper'>
						<div class='movie-list'>
							<div class='movie-list-item'>
								<img class='movie-list-item-img' src='img/1.jpeg' alt='' />
								<span class='movie-list-item-title'>Her</span>
								<p class='movie-list-item-desc'>Lorem ipsum dolor sit amet
									consectetur adipisicing elit. At hic fugit similique
									accusantium.</p>
								<button class='movie-list-item-button'>Watch</button>
							</div>
							<div class='movie-list-item'>
								<img class='movie-list-item-img' src='img/2.jpeg' alt='' />
								<span class='movie-list-item-title'>Her</span>
								<p class='movie-list-item-desc'>Lorem ipsum dolor sit amet
									consectetur adipisicing elit. At hic fugit similique
									accusantium.</p>
								<button class='movie-list-item-button'>Watch</button>
							</div>
							<div class='movie-list-item'>
								<img class='movie-list-item-img' src='img/15.jpg' alt='' />
								<span class='movie-list-item-title'>Her</span>
								<p class='movie-list-item-desc'>Lorem ipsum dolor sit amet
									consectetur adipisicing elit. At hic fugit similique
									accusantium.</p>
								<button class='movie-list-item-button'>Watch</button>
							</div>
							<div class='movie-list-item'>
								<img class='movie-list-item-img' src='img/3.jpg' alt='' />
								<span class='movie-list-item-title'>Her</span>
								<p class='movie-list-item-desc'>Lorem ipsum dolor sit amet
									consectetur adipisicing elit. At hic fugit similique
									accusantium.</p>
								<button class='movie-list-item-button'>Watch</button>
							</div>
							<div class='movie-list-item'>
								<img class='movie-list-item-img' src='img/4.jpg' alt='' />
								<span class='movie-list-item-title'>Her</span>
								<p class='movie-list-item-desc'>Lorem ipsum dolor sit amet
									consectetur adipisicing elit. At hic fugit similique
									accusantium.</p>
								<button class='movie-list-item-button'>Watch</button>
							</div>
							<div class='movie-list-item'>
								<img class='movie-list-item-img' src='img/5.jpg' alt='' />
								<span class='movie-list-item-title'>Her</span>
								<p class='movie-list-item-desc'>Lorem ipsum dolor sit amet
									consectetur adipisicing elit. At hic fugit similique
									accusantium.</p>
								<button class='movie-list-item-button'>Watch</button>
							</div>
							<div class='movie-list-item'>
								<img class='movie-list-item-img' src='img/1.jpg' alt='' />
								<span class='movie-list-item-title'>Her</span>
								<p class='movie-list-item-desc'>Lorem ipsum dolor sit amet
									consectetur adipisicing elit. At hic fugit similique
									accusantium.</p>
								<button class='movie-list-item-button'>Watch</button>
							</div>
						</div>
						<i class='fas fa-chevron-right arrow'></i>
					</div>
				</div>
				<div class='movie-list-container'>
					<h1 class='movie-list-title'>NEW RELEASES</h1>
					<div class='movie-list-wrapper'>
						<div class='movie-list'>
							<div class='movie-list-item'>
								<img class='movie-list-item-img' src='img/17.jpg' alt='' />
								<span class='movie-list-item-title'>Her</span>
								<p class='movie-list-item-desc'>Lorem ipsum dolor sit amet
									consectetur adipisicing elit. At hic fugit similique
									accusantium.</p>
								<button class='movie-list-item-button'>Watch</button>
							</div>
							<div class='movie-list-item'>
								<img class='movie-list-item-img' src='img/18.jpg' alt='' />
								<span class='movie-list-item-title'>Her</span>
								<p class='movie-list-item-desc'>Lorem ipsum dolor sit amet
									consectetur adipisicing elit. At hic fugit similique
									accusantium.</p>
								<button class='movie-list-item-button'>Watch</button>
							</div>
							<div class='movie-list-item'>
								<img class='movie-list-item-img' src='img/19.jpg' alt='' />
								<span class='movie-list-item-title'>Her</span>
								<p class='movie-list-item-desc'>Lorem ipsum dolor sit amet
									consectetur adipisicing elit. At hic fugit similique
									accusantium.</p>
								<button class='movie-list-item-button'>Watch</button>
							</div>
							<div class='movie-list-item'>
								<img class='movie-list-item-img' src='img/7.jpg' alt='' />
								<span class='movie-list-item-title'>Her</span>
								<p class='movie-list-item-desc'>Lorem ipsum dolor sit amet
									consectetur adipisicing elit. At hic fugit similique
									accusantium.</p>
								<button class='movie-list-item-button'>Watch</button>
							</div>
							<div class='movie-list-item'>
								<img class='movie-list-item-img' src='img/1.jpg' alt='' />
								<span class='movie-list-item-title'>Her</span>
								<p class='movie-list-item-desc'>Lorem ipsum dolor sit amet
									consectetur adipisicing elit. At hic fugit similique
									accusantium.</p>
								<button class='movie-list-item-button'>Watch</button>
							</div>
							<div class='movie-list-item'>
								<img class='movie-list-item-img' src='img/1.jpg' alt='' />
								<span class='movie-list-item-title'>Her</span>
								<p class='movie-list-item-desc'>Lorem ipsum dolor sit amet
									consectetur adipisicing elit. At hic fugit similique
									accusantium.</p>
								<button class='movie-list-item-button'>Watch</button>
							</div>
							<div class='movie-list-item'>
								<img class='movie-list-item-img' src='img/1.jpg' alt='' />
								<span class='movie-list-item-title'>Her</span>
								<p class='movie-list-item-desc'>Lorem ipsum dolor sit amet
									consectetur adipisicing elit. At hic fugit similique
									accusantium.</p>
								<button class='movie-list-item-button'>Watch</button>
							</div>
						</div>
						<i class='fas fa-chevron-right arrow'></i>
					</div>
				</div>
			</div>
		</div>

		<!-- CHAT BAR BLOCK -->

		<script src='./assets/js/side.js'></script>
		<script src='./assets/js/chatbox.js'></script>
		<script
			src='https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js'
		></script>
	</body>

</html>